<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="0" shutdownHook="disable">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Property>
    </Properties>
    
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>
    
    <Loggers>
        <!-- Completely suppress JMX and container-related warnings -->
        <Logger name="org.apache.logging.log4j.core.jmx" level="OFF" additivity="false"/>
        <Logger name="org.apache.logging.log4j.core" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="jdk.internal.platform" level="OFF" additivity="false"/>
        
        <!-- Root logger -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration> 